@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Aplicar la animación al elemento */
.intoHome {
  animation: fadeIn 2s ease-out;
}
@keyframes apArriba {
  from {
    transform: translateY(-100px);
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
.intoAboutUs {
  animation: apArriba 2s ease-out;
  -webkit-animation: apArriba 2s ease-out;
}
@keyframes izqaDer {
  from {
    transform: translateX(-100px);
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.intoNews {
  animation: izqaDer 2s ease-out;
  -webkit-animation: izqaDer 2s ease-out;
}
